/* =============== */
/*     GENERAL     */
/* =============== */
body {
  color: #ffffff;
  background-image: url(../images/stars.gif);
  font-family: Comic Sans MS, Arial, Helvetica, sans-serif;
}

/* a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  outline: 0;
} */

/* .btn {
  color: #0000ee;
  text-decoration: underline;
  border: #0000ee 2px solid;
  background-color: #bebebe;
  padding: 5px;
  margin: 20px 20px;
  
} */

/* ============== */
/*     HEADER     */
/* ============== */
header {
  position: relative;
  clear: both;
  margin-bottom: 10px;
}

.header-text {
  color: #feff04;
  font-size: 48px;
}

.header-bar {
  color: #ff0000;
  padding: 5px;
  margin-top: 10px;
  text-transform: uppercase;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

/* ============== */
/*     FOOTER     */
/* ============== */
footer {
  /* width: 100%; */
  /* bottom: 0;
  margin: auto; */
  /* position: absolute; */
  margin: 20px auto auto auto;
  text-align: center;
}

.footer-btns, .footer-btns a, .copyright{
  color: #ffffff;
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 0.5em;
  transition: color .2s;
  font-size: 12px;
  
}

footer a {
  color: #ffffff;
  text-decoration: underline;
}

/* =============== */
/*     CONTENT     */
/* =============== */
content {
  /* color: #ffffff; */
  /* border: 1px solid red; */
  font-size: 1.2em;
  font-family: "Times New Roman", Times, serif;
}

.personal-info {
  font-size: 0.7em;
  clear: both;
}

.photo {
  float: left;
  width: 130px;
  height: 150px;
  margin-right: 10px;
  border: #ffffff 0.1px solid;
}

.intro {
  color: #00ffff;
  font-size: 18px;
  line-height: 24px;
}

/* ============ */
/*     ICON     */
/* ============ */
.icon-news {
  position: relative;
  top: -13px;
  height: 60px;
  float: left;
}

.gold-news {
  width: 100px;
}
.white {
  color: #ffffff;
}
.red {
  color: #ff0000;
}
.green {
  color: #00ff00;
}
.blue {
  color: #0000bb;
}
.yellow {
  color: #ffff00;
}
.cyan {
  color: #00ffff
}
.pink {
  color: #ff07d6;
}

.twenty-four {
  font-size: 24px;
}
.thirty-two {
  font-size: 32px;
}

/* ============= */
/*     TABLE     */
/* ============= */
table {
  font-size: 18px;
  padding: 1px;
  border: 1px outset grey;
  font-family: "Times New Roman", Times, serif;
}
td {
  margin: 1;
  border: thin inset grey;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .center-ctr {
    width: 50%;
    clear: both;
    margin: auto;  
  }

  .intro {
    color: #00ffff;
    font-size: 20px;
    line-height: 28px;
  }

  footer {
    width: 99%;
    bottom: 0;
    margin: 40px auto auto auto;
    position: absolute;
    text-align: center;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}